<h1>Edit Wiki</h1>

<div class="row">
	<div class="col-md-4">
		<h4>Guidelines for Wikis</h4>
		<p class="lead">Here are some general guidelines and good ideas for posting new wikis.</p>
	</div>

	<div class="col-md-8">
		<%= render partial: 'form', locals: {wiki: @wiki} %>
	</div>
</div>
