<h1>Edit Wiki</h1>

<div class="row">
	<div class="col-md-4">
		<h4>Guidelines for Wikis</h4>
		<p class="lead">Here are some general guidelines and good ideas for posting new wikis.</p>
		<br />
		<% if current_user && !current_user.standard? && @wiki.private %>
			<%= render partial: 'collaborators/form', locals: {collaborator: @wiki.collaborators.new, wiki: @wiki} %>

			<h4>Collaborators:</h4>
			<table width="100%">
				<% @wiki.collaborators.all.each do |collab| %>
				<tr>
					<td>
						<%= link_to "Remove", "/wikis/#{@wiki.id}/collaborators/#{collab.id}", method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure you want to remove #{collab.user.name} as a collaborator?"} %>
					</td>
					<td>
						<h5 class="text-muted">
							<%= "#{collab.user.name} - (#{collab.user.email})" %>
						</h5>
					</td>
				</tr>
				<% end %>
			</table>
		<% end %>
	</div>

	<div class="col-md-8">
		<%= render partial: 'form', locals: {wiki: @wiki} %>
	</div>
</div>
