<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="media jumbotron">
			<div class="media-body text-center">
				<h3>Not into Premium?</h3>
				<br />
				<p class="lead">No problem. If you would like to cancel Premium and go back to a Standard user please press the button below.</p>
				<p class="lead">We will miss you! Feel free to upgrade to Premium again in the future!</p>
				<br />
				<%= link_to "Cancel Premium", cancel_charge_path, class: "btn btn-danger" %>
				<!-- Stripe Logic if subcription -->
			</div>
		</div>
	</div>
</div>
